*
{
margin: 0;
text-align: center;
}
body
{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    background-color:aliceblue ;
}
header
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: beige;
}
main,header
{
    padding: 20px;
   
}
main
{
    background-color: gainsboro;
     flex-grow: 10;
}
section
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}
article
{
    
    h3
    {
        text-align: center;
    }
    div
    {
        
        white-space: nowrap;
        height: inherit;
        overflow:hidden;      
        text-overflow:ellipsis;
    }
    padding: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: cadetblue;
}
footer
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    background-color: rgb(204, 179, 190);
}
h2
{
    margin: 20px;
}
hr
{margin-top: 10px; 
margin-bottom: 10px;
}
textarea
{
    text-align: start;
    width: 368px;
    height: 217px;
    resize: none;
}
a
{
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}